%-*-mode: erlang-*-

{deps,[ 
        {erlando,       ".*",           {git, "git://github.com/zkessin/erlando.git",                           "81857133"}},
        {erlcloud,      ".*",           {git, "git@github.com:gleber/erlcloud.git",                             "e8a8fc73"}},
        {e2,            ".*",           {git, "git://github.com/gar1t/e2.git",                                  "edfe073ca"}},
        {resource_discovery,  ".*",     {git, "git@github.com:erlware/resource_discovery.git",                  "HEAD"}}]}.
